.btn
    border: none
    padding: 0.25rem 0.5rem
    background-color: blue
    box-shadow: 0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.35)

    &:hover
        background-color: lightblue
        color: white
        cursor: pointer

.btn-2 //extend of btn funtionality
    @extend .btn
    border-radius: 15px
    margin: 0.5rem