@use "mixins";

body{
    padding: auto;
  }
  
  .container {
    width: 100%;
    background-color: azure;
    min-height: 100vh;
    padding: 0.5rem;
  }
  
  h1 {
    margin: 0;
    @include mixins.text-format(#f1f1f1);
  }
  
  p {
    margin: 0;
    @include mixins.text-format(purple);
  }
  
  /*div.listado ul li{
  
  }*/
  
  /*div.listado ul li:hover{
  
  }*/
  
  .listado {
    width: 10rem;
    background-color: aquamarine;
    padding: 0.5rem;
    
    ul {
      margin: 0 0.5rem;
      
      li {
        list-style: none;
        margin: 0 0.5rem ;
        &:hover {
          background-color: black;
          color: aquamarine;
          cursor: pointer;
        }
  
        &:active{
          background-color: white;
          color: aquamarine;
        }
      }
    }
  }